.App {
  display            : flex;
  /* justify-items   : center; */
  /* position        : relative; */
  font-family        : sans-serif;
}

.header {
  font-size  : 27px;
  font-weight: 500;
  text-align : center;
  text-shadow: 0 0 1px rgb(28, 28, 56);
}

.balance-div {
  border-radius   : 6px;
  padding         : 10px;
  text-align      : center;
  background-color: rgb(28, 28, 56);
}

.balance-div h2 {
  font-weight: 200;
  color      : aliceblue;
}

.income-expense {
  display        : flex;
  justify-content: space-between;
  text-align     : center;
  color          : rgb(28, 28, 56);
  margin         : 2px;
}

.income {
  flex         : 1;
  font-size    : 120%;
  border-bottom: 5px solid #70ee70;
  margin       : 5px;
  box-shadow   : 0 0 5px 0 black;
}

.expense {
  flex         : 1;
  font-size    : 120%;
  border-bottom: 5px solid #db5f5d;
  margin       : 5px;
  box-shadow   : 0 0 5px 0 black;
}

.history-ul {
  margin    : 2% 0%;
  padding   : 0;
  list-style: none;
}

.history-li-green,
.history-li-red {
  color          : rgb(28, 28, 56);
  margin         : 8px;
  padding        : 8px;
  position       : relative;
  display        : flex;
  justify-content: space-around;
  list-style     : none;
  text-align     : left;
  color          : rgb(28, 28, 56);
  box-shadow  : 0 0 5px black;
}

.history-li-green {
  color       : green;
  border-left : 5px solid #70ee70;
  border-right: 5px solid #70ee70;
}

.history-li-red {
  color       : red;
  border-left : 5px solid #db5f5d;
  border-right: 5px solid #db5f5d;
}

.history-li-green span,
.history-li-red span {
  flex       : 1;
  text-shadow: 0 0 1px rgb(28, 28, 56);
}

.delete-icon-button {
  position        : absolute;
  right           : 0;
  top             : 0;
  bottom          : 0;
  border-color    : transparent;
  background-color: transparent;
}

.delete-icon {
  color: rgb(28, 28, 56);
}

.form {
  display  : flex;
  flex-flow: column;
  color    : rgb(28, 28, 56);
}

.form-heading {
  text-align     : center;
  text-decoration: underline;
}

.input-div {
  margin-top: 10px;
  text-align: center;
}


.label {
  color    : rgb(28, 28, 56);
  font-size: 5vw;
}

.input {
  flex     : 1;
  min-width: 40%;
}

input[type="text"],
input[type="number"] {
  font-size: 16px;
}

.toggle-btn {
  /* flex           : 1; */
  justify-content: center;
}

#submit {
  margin     : 0px 20px 50px 20px;
  font-weight: bolder;
  color      : white;
  color      : rgb(28, 28, 56);
}